.app_header{
  background-color:#e6ccff;
}

ion-content{
  --ion-background-color: #ff9999;
}
.sample:link, :visited, :active{
  text-decoration: none;
  color: black;
  }

.app_title{
  color: black;
  background-color: #e6ccff;
}

.text_title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
}

ion-back-button{
  position: absolute !important;
  z-index: 5;
}

ion-button{
  --box-shadow: none;
  min-height: 50px;

}

/*-----hover stripe colors-----*/

/*indigo*/
.btn-hover1{
  padding-left: 10px;
  margin:0;
  color:black;
  background-color: #b3ccff;
  min-height: 50px;
  text-align:left;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.btn-hover1:hover{
  background-color: lighten(#b3ccff, 1%);
  text-decoration: none;
  transition: all 50ms linear;
  margin:0;
}

/*blue*/
.btn-hover2{
  padding-left: 10px;
  margin:0;
  color:black;
  background-color: #b3e6ff;
  min-height: 50px;
  text-align:left;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.btn-hover2:hover{
  background-color: lighten(#b3e6ff, 1%);
  text-decoration: none;
  transition: all 50ms linear;
}

/*green*/
.btn-hover3{
  padding-left: 10px;
  margin:0;
  color:black;
  background-color: #ccffcc;
  min-height: 50px;
  text-align:left;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.btn-hover3:hover{
  background-color: lighten(#ccffcc, 1%);
  text-decoration: none;
  transition: all 50ms linear;
}

/*yellow*/
.btn-hover4{
  padding-left: 10px;
  margin:0;
  color:black;
  background-color: #ffff99;
  min-height: 50px;
  text-align:left;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.btn-hover4:hover{
  background-color: lighten(#ffff99, 1%);
  text-decoration: none;
  transition: all 50ms linear;
}

/*orange*/
.btn-hover5{
  padding-left: 10px;
  margin:0;
  color:black;
  background-color: #ffcc99;
  min-height: 50px;
  text-align:left;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.btn-hover5:hover{
  background-color: lighten(#ffcc99, 1%);
  text-decoration: none;
  transition: all 50ms linear;
}

/*red*/
.btn-hover6{
  padding-left: 10px;
  margin:0;
  color:black;
  background-color: #ff9999;
  min-height: 50px;
  text-align:left;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.btn-hover6:hover{
  background-color: lighten(#ff9999, 1%);
  text-decoration: none;
  transition: all 50ms linear;
}


.srch{
  z-index: 12;
  font-size: 40px;
  position: fixed;
  bottom: 20px;
  right: 10px;
  text-decoration: none;
  color: #ff9999;

}
.srch1:link{
  text-decoration: none;
  color: #ff9999;
  background-color: black ;
  padding: 20px 20px 10px 20px;
  border-radius: 50px;
  }

  .srch1:visited{
    text-decoration: none;
    color: #ff9999;
    background-color: black ;
    padding: 20px 20px 10px 20px;
    border-radius: 50px;
    }
    .srch1:active{
      text-decoration: none;
      color: #ff9999;
      background-color: black ;
      padding: 20px 20px 10px 20px;
      border-radius: 50px;
      }

