<ion-header class="app_header ion-no-border">
  <ion-toolbar color=#e6ccff>
    <div class="app_title">
      <ion-buttons slot="start">
          <ion-back-button icon="arrow-back" defaultHref="home">
          </ion-back-button>
          <ion-title class="text_title">Store Categories</ion-title>
      </ion-buttons>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <!--store categories-->
    <a href="home" class="sample">
      <div class ="btn-hover1">Automotive</div>
    </a>
    <a href="home" class="sample">
      <div class ="btn-hover2">Clothing & Shoes</div>
    </a>
    <a href="home" class="sample">
      <div class ="btn-hover3">Food & Gifts</div>
    </a>
    <a href="home" class="sample">
      <div class ="btn-hover4">Health & Beauty</div>
    </a>
    <a href="store-list" class="sample">
      <div class ="btn-hover5">Restaurant & Dining</div>
    </a>
    <a href="home" class="sample">
      <div class ="btn-hover6">Miscellaneous</div>
    </a>
  </div>
  <!--search-->
  <div class="srch">
    <a href="store-search" class="srch1"><ion-icon name="search"></ion-icon></a>
</div>
</ion-content>
