
  <ion-content [fullscreen]="true">
    <p class="strTitle">ATM Hub</p>
    <hr class="ti">

    <!--store logo-->
      <div>
        <img src="assets/images/atm.jpg" width="80%" class="storePhoto">
      </div>

    <!--store info-->
    <div class="storeDetails">
      <h4 class="contact">Contact Details</h4>
        <hr class="cut">
      <!--contact details-->
      <div class="con">
        <!--phone-->
        <ion-icon class="icon" name="call"></ion-icon>
        <span class="text"><strong>Globe</strong> 0995 582 2700</span>
        <br>
        <ion-icon class="icon" name="call"></ion-icon>
        <span class="text"><strong>Smart</strong> 0963 404 6000</span>
          <br>
        <!--email-->
        <ion-icon class="icon" name="mail"></ion-icon>
        <span class="text">atmhubtuy@gmail.com</span>
          <br>
        <!--facebook-->
        <ion-icon class="icon" name="logo-facebook"></ion-icon>
        <span class="text"><a target="_blank" href="https://www.facebook.com/ATMhubTuy/">ATM Hub</a></span>
          <br>
        <!--service-->
        <ion-icon class="icon" name="checkmark"></ion-icon>
        <span class="text">Dine-in, Take-out and Delivery</span>
          <br>
          <!--location-->
        <ion-icon class="icon" name="pin"></ion-icon>
        <p class="text">Gomez St. Barangay Rizal, Tuy Batangas</p>

      </div>


      <!--toliet & wifi-->
      <div class="tw">
        <ion-grid>
          <ion-row class="tw1">
            <ion-col><ion-icon name="checkmark" ></ion-icon></ion-col>
            <ion-col><ion-icon name="close"></ion-icon></ion-col>
          </ion-row>

          <ion-row class="tw2">
            <ion-col>Wi-Fi</ion-col>
            <ion-col>Toilet</ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <br>
    <!--opening-->
        <h4 class="contact">Opening Times</h4>
          <hr class="cut">
      <div class="con">
        <ion-icon class="icon" name="time"></ion-icon>
        <p class="text">10:00AM - 8:00PM</p>
          <br>
        </div>
    </div>
    <br>

    <hr class="ti">
    <!--store photos-->
      <div>
        <img src="assets/images/atm1.jpg" width="95%" class="atmPhoto">
      </div>
      <div>
        <img src="assets/images/atm2.jpg" width="95%" class="atmPhoto">
      </div>

      <div>
        <img src="assets/images/atm3.jpg" width="95%" class="atmPhoto">
      </div>





  </ion-content>


