<ion-header class="app_header ion-no-border">
  <ion-toolbar color=#e6ccff>
    <div class="app_title">
      <ion-buttons slot="start">
          <ion-back-button icon="arrow-back" defaultHref="home">
          </ion-back-button>
          <ion-title class="text_title">About</ion-title>
      </ion-buttons>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="abt-content">
    <ion-title class="app_title">
      <div class="logo">
        <img src="assets/images/logo.svg">
      </div>
    </ion-title>
    <hr>
    <div class="txt">
      <p>&nbsp;&nbsp;&nbsp;&nbsp;Do you wish to buy a product in Tuy? Are you unsure if the store exists? Would you want an easier way of searching a store?</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;Look-ation offers a convenient way of locating an establishment within the vicinity of Tuy "Bayan" Proper with using only your smartphone. The application provclasses a store's information, contact details, map location and what it can offer to the resclassents of Tuy and also travelers who wish to know available establishments in town.</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;The developers of Look-ation aim to give more awareness to local and growing establishments located in Tuy, Batangas.</p>
    </div>
  </div>
</ion-content>
