.app_header{
  background-color:#ffcc99;
  border-bottom: 1px black solid;
}

.app_title{
  text-align:center;
  color: black;
}

.text_title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

ion-back-button{
  position: absolute !important;
  z-index: 5;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
display: none;
}
ion-content{
  margin:0;
  background-color: #ffcc99;

  --offset-bottom: auto!important;
 --overflow: hidden;
 overflow: auto;
 &::-webkit-scrollbar {
   display: none;

 }
}

.abt-content{
  //border: 1px #86592d solid;

  //padding: 10px;
 background-color: #ffcc99;
}

.logo{

  display:block;
  margin: 10px 3px;
  padding: 5px 0;
  font-size: 18px;
  font-family: Roboto-Regular !important;
  //border-left: 3px #ac7339 solid;
  //border-right: 3px #ac7339 solid;
  //border-radius: 30px 30px 40px 0px;
  //background-color: #ac7339;
  text-align:center;
  color: black;
}

.logo1{
  //border: 1px #86592d solid;
  //border-left: 3px #ac7339 solid;
  //border-right: 3px #ac7339 solid;
  //border-radius: 30px 30px 40px 0px
  margin: 0 3px;
  padding: 0;

}

.logg{
  //border-left: 3px #ac7339 solid;
  //border-right: 3px #ac7339 solid;
  margin: 10px 30px 15px 30px;
  padding: 5px 0;
}

ion-col{
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
  font-family: Roboto-Regular !important;
}

ion-grid{
  padding: 0;
  margin: 0;

}

.storePhoto{
  margin:0;
  padding: 5px;
  border: 1px black solid;
  border-radius: 20px;
}

.storeTitle{
  margin:0 10px;
  padding: 0;
  text-align: center;
  color: black;
  font-size: 12px;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

hr{
  border-top: 1px #86592d solid;
  width:80%;
}
