<ion-header class="app_header ion-no-border">

    <ion-title class="app_title">
      <div class="logo">
        <img src="assets/images/logo.svg">
      </div>
    </ion-title>
</ion-header>

<ion-content>

  <div class="container">
    <div class="indigo"></div>

    <!--menu-->
    <a href="store-categories"><ion-button  class ="button_store" expand="full">Stores</ion-button></a>
    <a href="home-map"><ion-button class ="button_map" expand="full">Map</ion-button></a>
    <a href="home-about"><ion-button class ="button_about" expand="full">About</ion-button></a>

    <!--stripe colors-->
    <div class="orange"></div>

  </div>

</ion-content>
