
<ion-header class="app_header ion-no-border">
  <ion-toolbar color=#ccffcc>
    <div class="app_title">
      <ion-buttons slot="start">
          <ion-back-button icon="arrow-back" defaultHref="home">
          </ion-back-button>
          <ion-title class="text_title">Map</ion-title>
      </ion-buttons>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content >


  <div class="map-container">
   <p>Tuy Map</p>
    <div class="map-frame" >

      <div id="mapId" style="width:  100%; height: 100%"></div>
    </div>
  </div>
</ion-content>
